
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.conntact-us-bUK {
  background-color: #110000;
  width: 100%;
  height: 96rem;
  position: relative;
  overflow: hidden;
  background: radial-gradient(99.27% 99.27% at 50.84% 100%, #3d3d3d 0%, #2f2f2f 0%, #1f1f1f 70.26%, #181818 100%);

  .auto-group-veb9-jqR {
    width: 155rem;
    height: 12.6rem;
    position: absolute;
    left: 1.8rem;
    top: 1.5rem;
    display: flex;
    align-items: center;

    .logo-no-background-1-G4f {
      height: 12.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 21.55rem;
      width: 12.5rem;
    }
    .home-Avj {
      text-align: center;
      font-size: 2rem;
      letter-spacing: 0.06rem;
      font-family: Merge One, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 3.65rem 3.7rem 0rem;
      font-weight: 400;
      line-height: 1.305227375;
      color: #ffffff;
      white-space: nowrap;
    }
    .meditation-guide-URd {
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.5rem 3.7rem 0rem;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      color: #ffffff;
      font-family: Merge One, 'Source Sans Pro';
    }
    .mindful-exercise-azT {
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.45rem 3.7rem 0rem;
      text-align: center;
      font-weight: 400;
      font-family: Merge One, 'Source Sans Pro';
      font-size: 2rem;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
    }
    .relaxation-technique-JQf {
      line-height: 1.305227375;
      color: #ffffff;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 15.85rem 3.5rem 0rem;
      letter-spacing: 0.06rem;
      font-family: Merge One, 'Source Sans Pro';
    }
    .log-in-25m {
      letter-spacing: 0.06rem;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.3rem 3.7rem 0rem;
      line-height: 1.305227375;
      color: #fcfbfb;
      font-family: Merge One, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
    }
    .auto-group-t5rf-Kaf {
      font-family: Merge One, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #fff9f9;
      flex-shrink: 0;
      width: 12.2rem;
      display: flex;
      align-items: center;
      margin: 2.6rem 0rem 6.3rem 0rem;
      height: calc(100% - 8.9rem);
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      color: #0e0e0e;
      justify-content: center;
      border-radius: 4.5rem;
    }
  }
  .auto-group-plnb-NYw {
    width: 110.9rem;
    height: 4.4rem;
    position: absolute;
    left: 24.5rem;
    top: 37.3rem;
    display: flex;
    align-items: flex-start;

    .auto-group-zck1-u35 {
      height: 4.1rem;
      text-align: center;
      font-weight: 700;
      letter-spacing: 0.054rem;
      color: #ffffff;
      white-space: nowrap;
      margin-right: 12.3rem;
      line-height: 1.3052273856;
      border-bottom: solid 0.1rem #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0 0.95rem;
      width: 49.3rem;
      font-size: 1.8rem;
      font-family: Phetsarath, 'Source Sans Pro';
    }
    .auto-group-r7b5-Z7d {
      flex-shrink: 0;
      width: 49.3rem;
      height: 100%;
      position: relative;

      .entypo-social-facebook-with-circle-799 {
        top: 0;
        overflow: hidden;
        width: 4.4rem;
        height: 4.4rem;
        position: absolute;
        left: 3.5rem;
      }
      .last-name-q59 {
        font-weight: 700;
        line-height: 1.3052273856;
        letter-spacing: 0.054rem;
        white-space: nowrap;
        top: 0;
        font-size: 1.8rem;
        position: absolute;
        left: 0.7rem;
        text-align: center;
        color: #ffffff;
        font-family: Phetsarath, 'Source Sans Pro';
        width: 8.8rem;
        height: 2.4rem;
      }
      .line-2-LGo {
        width: 49.3rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 4rem;
        background-color: #ffffff;
      }
    }
  }
  .contact-us-GRM {
    top: 14.1rem;
    text-align: center;
    letter-spacing: 0.192rem;
    width: 32.3rem;
    height: 8.4rem;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.3052273989;
    color: #ffffff;
    font-family: Phetsarath, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 63.8rem;
  }
  .thank-you-for-visiting-medilax-we-value-your-feedback-questions-and-inquiries-please-feel-free-to-reach-out-to-us-using-the-contact-information-provided-below-our-team-is-here-to-assist-you-and-ensure-that-your-experience-with-medilax-is-positive-and-rewarding-y4s {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.3052273856;
    letter-spacing: 0.054rem;
    width: 111.7rem;
    height: 4.7rem;
    left: 24.15rem;
    color: #ffffff;
    font-family: Phetsarath, 'Source Sans Pro';
    position: absolute;
    top: 23.7rem;
    font-weight: 700;
  }
  .email-address-Af9 {
    height: 2.4rem;
    position: absolute;
    top: 49.1rem;
    font-size: 1.8rem;
    color: #ffffff;
    white-space: nowrap;
    width: 11.9rem;
    left: 25.75rem;
    text-align: center;
    font-weight: 700;
    line-height: 1.3052273856;
    letter-spacing: 0.054rem;
    font-family: Phetsarath, 'Source Sans Pro';
  }
  .type-your-message-here-Gy5 {
    position: absolute;
    top: 58.7rem;
    text-align: center;
    letter-spacing: 0.054rem;
    color: #ffffff;
    width: 22.5rem;
    height: 2.4rem;
    left: 26.55rem;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3052273856;
    font-family: Phetsarath, 'Source Sans Pro';
    white-space: nowrap;
  }
  .line-3-PH1 {
    width: 110.9rem;
    height: 0.1rem;
    position: absolute;
    left: 24.5rem;
    top: 53.2rem;
    background-color: #ffffff;
  }
  .line-4-vnj {
    width: 110.9rem;
    height: 0.1rem;
    position: absolute;
    left: 24.5rem;
    top: 73rem;
    background-color: #ffffff;
  }
  .auto-group-tzvm-UpF {
    background-image: url('REPLACE_IMAGE:409:59');
    width: 21.1rem;
    text-align: center;
    font-weight: 700;
    background-size: cover;
    background-position: center;
    font-size: 2rem;
    font-family: Maven Pro, 'Source Sans Pro';
    justify-content: center;
    white-space: nowrap;
    background-repeat: no-repeat;
    height: 5.6rem;
    line-height: 1.305227375;
    color: #ffffff;
    letter-spacing: 0.06rem;
    display: flex;
    align-items: center;
    position: absolute;
    left: 114.8rem;
    top: 75.5rem;
  }
}
