
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.home-page-seF {
  box-sizing: border-box;
  padding: 1.5rem 3.2rem 2.5rem 1.8rem;
  width: 100%;
  position: relative;
  background-color: #110000;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  background: radial-gradient(99.27% 99.27% at 50.84% 100%, #3d3d3d 0%, #2f2f2f 0%, #1f1f1f 70.26%, #181818 100%);

  .logo-no-background-1-Q8P {
    flex-shrink: 0;
    margin-right: 4.9rem;
    width: 12.5rem;
    height: 12.6rem;
    object-fit: cover;
    vertical-align: top;
  }
  .auto-group-brdd-8KH {
    margin: 2.6rem 3.8rem 0rem 0rem;
    width: 74.7rem;
    flex-shrink: 0;

    .auto-group-uvsy-eoR {
      margin: 0rem 0rem 30.2rem 16.75rem;
      display: flex;
      align-items: center;

      .home-z6b {
        flex-shrink: 0;
        margin-right: 3.65rem;
        text-align: center;
        letter-spacing: 0.06rem;
        white-space: nowrap;
        font-family: Merge One, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.305227375;
        color: #ffffff;
      }
      .meditation-guide-HLb {
        line-height: 1.305227375;
        color: #ffffff;
        font-family: Merge One, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 400;
        text-align: center;
        font-size: 2rem;
        letter-spacing: 0.06rem;
        flex-shrink: 0;
        margin-right: 8.5rem;
      }
      .mindful-exercise-Qg7 {
        font-weight: 400;
        line-height: 1.305227375;
        color: #ffffff;
        font-size: 2rem;
        letter-spacing: 0.06rem;
        font-family: Merge One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
    }
    .achieve-results-with-meditation-LZm {
      margin-bottom: 11.5rem;
      max-width: 52.1rem;
      font-size: 5.3rem;
      font-weight: 400;
      line-height: 1.465227379;
      letter-spacing: 0.6625rem;
      color: #ffffff;
      font-family: Merriweather, 'Source Sans Pro';
    }
    .know-more-about-traditional-indian-historic-spiritual-practices-e4f {
      white-space: nowrap;
      margin-bottom: 4.6rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      color: #ffffff;
      font-family: Merge One, 'Source Sans Pro';
    }
    .auto-group-ctd1-9n7 {
      margin-bottom: 13.8rem;
      width: 21.1rem;
      height: 5.6rem;
      position: relative;

      .get-peace-hHq {
        width: 10.2rem;
        left: 5.4rem;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.06rem;
        color: #ffffff;
        font-family: Maven Pro, 'Source Sans Pro';
        height: 2.7rem;
        position: absolute;
        top: 1.5rem;
        font-size: 2rem;
        line-height: 1.305227375;
        white-space: nowrap;
      }
      .rectangle-1-CEb {
        vertical-align: top;
        border-radius: 4.4rem;
        width: 21.1rem;
        height: 5.6rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
      }
    }
    .auto-group-rcko-vgP {
      width: calc(100% - 33rem);
      display: flex;
      align-items: center;
      margin-left: 33rem;

      .privacy-policy-GET {
        text-align: center;
        color: #ffffff;
        flex-shrink: 0;
        font-family: Maven Pro, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 4.9rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.305227375;
        letter-spacing: 0.06rem;
      }
      .terms-and-conditions-b1q {
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.305227375;
        letter-spacing: 0.06rem;
        color: #ffffff;
        font-family: Maven Pro, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-13r7-icF {
    flex-shrink: 0;
    margin-top: 2.6rem;
    width: 59.1rem;

    .auto-group-dn7h-T43 {
      margin: 0rem 0rem 6rem 3.25rem;
      width: calc(100% - 3.25rem);
      height: 3.7rem;
      display: flex;
      align-items: center;

      .auto-group-5gty-Az3 {
        padding: 0.1rem 3.3rem 0.1rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .relaxation-technique-W2K {
          margin: 0rem 15.75rem 0.8rem 0rem;
          font-size: 2rem;
          font-weight: 400;
          letter-spacing: 0.06rem;
          font-family: Merge One, 'Source Sans Pro';
          text-align: center;
          line-height: 1.305227375;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .log-in-pYo {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.305227375;
          letter-spacing: 0.06rem;
          color: #fcfbfb;
          font-family: Merge One, 'Source Sans Pro';
        }
      }
      .auto-group-9k2w-A6s {
        line-height: 1.305227375;
        letter-spacing: 0.06rem;
        font-size: 2rem;
        color: #0e0e0e;
        justify-content: center;
        border-radius: 4.5rem;
        font-weight: 400;
        white-space: nowrap;
        align-items: center;
        height: 100%;
        font-family: Merge One, 'Source Sans Pro';
        display: flex;
        background-color: #908383;
        flex-shrink: 0;
        width: 12.2rem;
      }
    }
    .auto-group-uazt-1Wo {
      margin-bottom: 13.3rem;
      width: 52.9rem;
      height: 63.7rem;
      position: relative;

      .shadow-Ymd {
        object-fit: contain;
        vertical-align: top;
        width: 52.9rem;
        height: 8.7rem;
        position: absolute;
        left: 0;
        top: 51.4rem;
      }
      .yoga0-1-5mZ {
        vertical-align: top;
        width: 50.1rem;
        height: 63.7rem;
        position: absolute;
        left: 0.9rem;
        top: 0;
        object-fit: cover;
      }
    }
    .about-us-R4j {
      font-family: Maven Pro, 'Source Sans Pro';
      white-space: nowrap;
      margin-left: 1.1rem;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      color: #ffffff;
    }
  }
}
