
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.login--WEB {
  flex-direction: column;
  background: radial-gradient(99.27% 99.27% at 50.84% 100%, #3d3d3d 0%, #2f2f2f 0%, #1f1f1f 70.26%, #181818 100%);
  background-color: #110000;
  position: relative;
  align-items: center;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  padding: 1.5rem 3.2rem 2.2rem 1.8rem;
  width: 100%;

  .auto-group-vryo-ER5 {
    margin-bottom: 1rem;
    width: 100%;
    height: 12.6rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .logo-no-background-1-ZiF {
      flex-shrink: 0;
      margin-right: 21.55rem;
      width: 12.5rem;
      height: 12.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .home-Vbu {
      margin: 0rem 3.65rem 3.7rem 0rem;
      font-weight: 400;
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      color: #ffffff;
      font-family: Merge One, 'Source Sans Pro';
      white-space: nowrap;
    }
    .meditation-guide-CFR {
      flex-shrink: 0;
      font-size: 2rem;
      line-height: 1.305227375;
      white-space: nowrap;
      letter-spacing: 0.06rem;
      color: #ffffff;
      font-family: Merge One, 'Source Sans Pro';
      margin: 0rem 8.5rem 3.7rem 0rem;
      text-align: center;
      font-weight: 400;
    }
    .mindful-exercise-JJT {
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.305227375;
      margin: 0rem 8.45rem 3.7rem 0rem;
      color: #ffffff;
      font-family: Merge One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      letter-spacing: 0.06rem;
    }
    .relaxation-technique-QMV {
      font-family: Merge One, 'Source Sans Pro';
      margin: 0rem 15.85rem 3.5rem 0rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      color: #ffffff;
      flex-shrink: 0;
      white-space: nowrap;
    }
    .log-in-WfR {
      margin: 0rem 3.3rem 3.7rem 0rem;
      font-size: 2rem;
      line-height: 1.305227375;
      color: #fcfbfb;
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 400;
      letter-spacing: 0.06rem;
      font-family: Merge One, 'Source Sans Pro';
    }
    .auto-group-wa3h-RnP {
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      height: calc(100% - 8.9rem);
      font-size: 2rem;
      white-space: nowrap;
      align-items: center;
      border-radius: 4.5rem;
      margin: 2.6rem 0rem 6.3rem 0rem;
      width: 12.2rem;
      display: flex;
      justify-content: center;
      background-color: #fff9f9;
      font-weight: 400;
      color: #0e0e0e;
      font-family: Merge One, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .group-79-Hpb {
    border-radius: 5rem;
    flex-shrink: 0;
    margin: 0rem 5rem 4.6rem 13rem;
    width: calc(100% - 18rem);
    height: 71.4rem;

    .iphone-11-pro-max-1-2GP {
      width: 100%;
      height: 100%;
      flex-direction: column;
      box-shadow: inset -0.5rem -0.5rem 25rem rgba(255, 255, 255, 0.0199999996));
      border-radius: 5rem;
      backdrop-filter: blur(2.1rem);
      background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.400000006) 0%, rgba(255, 255, 255, 0) 100%);
      box-sizing: border-box;
      padding: 3.5rem 43.8rem 10.9rem 43.9rem;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;

      .login-XU3 {
        color: #ffffff;
        margin: 0rem 0.1rem 2.9rem 0rem;
        font-size: 6.4rem;
        font-weight: 700;
        letter-spacing: 0.192rem;
        flex-shrink: 0;
        text-align: center;
        line-height: 1.3052273989;
        font-family: Phetsarath, 'Source Sans Pro';
        white-space: nowrap;
      }
      .group-87-pxw {
        width: calc(100% - 38.2038rem);
        height: 3.8708rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 19.104rem 1.829rem 19.1rem;

        .auto-group-iwmh-ja7 {
          margin-right: 0.3871rem;
          width: 7.2899rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .ellipse-3-UXh {
            border-radius: 1.7096rem;
            width: 3.4192rem;
            height: 3.4192rem;
            position: absolute;
            left: 3.8708rem;
            top: 0.1935rem;
            background-color: #d9d9d9;
          }
          .ellipse-2-h35 {
            position: absolute;
            left: 0.1936rem;
            top: 0.2581rem;
            background-color: #d9d9d9;
            border-radius: 1.7096rem;
            width: 3.4192rem;
            height: 3.4192rem;
          }
          .google-1-RUs {
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 3.8708rem;
            height: 3.8708rem;
            position: absolute;
          }
          .meta-2-AhM {
            left: 4.4514rem;
            top: 1.1612rem;
            object-fit: cover;
            vertical-align: top;
            width: 2.3225rem;
            height: 1.5483rem;
            position: absolute;
          }
        }
        .auto-group-ygpz-JHm {
          border-radius: 1.7096rem;
          flex-shrink: 0;
          margin: 0.194rem 0rem 0.258rem 0rem;
          box-sizing: border-box;
          padding: 0.129rem 0.387rem 0.129rem 0.452rem;
          height: calc(100% - 0.4516rem);
          background-color: #d9d9d9;

          .apple-1-okK {
            background-position: -2.4657rem -1.3335rem;
            background-image: url('REPLACE_IMAGE:50e3543046e0f18116f1f2d4be969a631bd59842');
            width: 2.5805rem;
            height: 3.1611rem;
            position: relative;
            background-size: 294.343% 179.31%;
          }
        }
      }
      .auto-group-wvwy-h51 {
        margin: 0rem 14rem 2.7rem 18.65rem;
        width: calc(100% - 32.65rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .email-address-RWo {
          font-size: 1.8rem;
          line-height: 1.3052273856;
          letter-spacing: 0.054rem;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.35rem;
          text-align: center;
          font-weight: 700;
          font-family: Phetsarath, 'Source Sans Pro';
        }
        .entypo-social-facebook-with-circle-k3H {
          height: 4.4rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          margin-top: 1.7rem;
          width: 4.4rem;
        }
      }
      .line-1-4Zm {
        margin-bottom: 5.1rem;
        width: 100%;
        height: 0.1rem;
        background-color: #ffffff;
        flex-shrink: 0;
      }
      .password-DBm {
        line-height: 1.3052273856;
        white-space: nowrap;
        margin: 0rem 0.1rem 7.4rem 0rem;
        font-weight: 700;
        letter-spacing: 0.054rem;
        color: #ffffff;
        font-family: Phetsarath, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 1.8rem;
      }
      .line-2-i8X {
        margin-bottom: 10.5rem;
        width: 100%;
        height: 0.1rem;
        background-color: #ffffff;
        flex-shrink: 0;
      }
      .auto-group-j4oh-e2B {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #ffffff;
        justify-content: center;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 14.2rem 0rem 14rem;
        line-height: 1.305227375;
        font-weight: 800;
        letter-spacing: 0.06rem;
        display: flex;
        align-items: center;
        background-image: url('REPLACE_IMAGE:435:69');
        width: calc(100% - 28.2rem);
        text-align: center;
        font-family: Maven Pro, 'Source Sans Pro';
        height: 5.6rem;
        font-size: 2rem;
      }
    }
  }
  .auto-group-luab-BAX {
    margin: 0rem 45.6rem 0rem 53.8rem;
    width: calc(100% - 99.4rem);
    display: flex;
    column-gap: 4.9rem;
    align-items: center;
    flex-shrink: 0;

    .privacy-policy-6YP {
      font-weight: 700;
      line-height: 1.305227375;
      font-family: Maven Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
      letter-spacing: 0.06rem;
      color: #ffffff;
    }
    .terms-and-conditions-1QT {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      color: #ffffff;
      font-family: Maven Pro, 'Source Sans Pro';
    }
    .about-us-w3D {
      font-family: Maven Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      color: #ffffff;
    }
  }
}
