
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.meditation-guide-Jfh {
  position: relative;
  display: flex;
  background: radial-gradient(99.27% 99.27% at 50.84% 100%, #3d3d3d 0%, #2f2f2f 0%, #1f1f1f 70.26%, #181818 100%);
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 3.2rem 1.5rem 1.8rem;

  .auto-group-7hdh-q9q {
    flex-shrink: 0;
    margin-bottom: 3.3rem;
    width: 100%;
    height: 12.6rem;
    display: flex;
    align-items: center;

    .logo-no-background-1-Z5q {
      margin-right: 22.75rem;
      width: 12.5rem;
      height: 12.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .home-gAT {
      font-weight: 400;
      color: #ffffff;
      font-family: Merge One, 'Source Sans Pro';
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.65rem 3.7rem 0rem;
      text-align: center;
      font-size: 2rem;
    }
    .meditation-guide-BN7 {
      margin: 0rem 8.5rem 3.7rem 0rem;
      text-align: center;
      color: #ffffff;
      flex-shrink: 0;
      white-space: nowrap;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      font-family: Merge One, 'Source Sans Pro';
    }
    .mindful-exercise-gpf {
      font-size: 2rem;
      letter-spacing: 0.06rem;
      flex-shrink: 0;
      margin: 0rem 8.45rem 3.7rem 0rem;
      font-weight: 400;
      line-height: 1.305227375;
      color: #ffffff;
      font-family: Merge One, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
    }
    .relaxation-technique-Pj5 {
      line-height: 1.305227375;
      color: #ffffff;
      text-align: center;
      font-weight: 400;
      letter-spacing: 0.06rem;
      font-family: Merge One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 14.65rem 3.5rem 0rem;
      font-size: 2rem;
    }
    .log-in-WHu {
      letter-spacing: 0.06rem;
      white-space: nowrap;
      color: #fcfbfb;
      font-family: Merge One, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 3.3rem 3.7rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.305227375;
    }
    .auto-group-l1p5-1Ef {
      line-height: 1.305227375;
      white-space: nowrap;
      align-items: center;
      border-radius: 4.5rem;
      justify-content: center;
      flex-shrink: 0;
      width: 12.2rem;
      height: calc(100% - 8.9rem);
      letter-spacing: 0.06rem;
      background-color: #908383;
      margin: 2.6rem 0rem 6.3rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      color: #0e0e0e;
      font-family: Merge One, 'Source Sans Pro';
      display: flex;
    }
  }
  .group-85-sXm {
    flex-shrink: 0;
    margin: 0rem 0.86rem 8.295rem 2.3rem;
    width: calc(100% - 3.1603rem);
    height: 66.1047rem;
    display: flex;
    column-gap: 4.1603rem;
    align-items: center;
    border-radius: 5rem;

    .group-79-NzK {
      width: 47.8397rem;
      height: 100%;
      border-radius: 5rem;
      flex-shrink: 0;

      .iphone-11-pro-max-1-9EP {
        display: flex;
        box-shadow: inset -0.5rem -0.5rem 25rem rgba(255, 255, 255, 0.0199999996));
        border-radius: 5rem;
        padding-bottom: 7.9547rem;
        overflow: hidden;
        height: 100%;
        position: relative;
        align-items: center;
        flex-direction: column;
        backdrop-filter: blur(2.1rem);
        background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.400000006) 0%, rgba(255, 255, 255, 0) 100%);
        box-sizing: border-box;
        width: 100%;

        .light-peach-and-jade-green-light-floral-save-the-date-wedding-website-3-1-Gpo {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 3.2rem;
          width: 61.7rem;
          height: 34.8rem;
          object-fit: cover;
        }
        .mindfulness-meditation-yjD {
          text-transform: uppercase;
          color: #ffffff;
          flex-shrink: 0;
          font-size: 2.5rem;
          line-height: 1.305227356;
          letter-spacing: 0.075rem;
          white-space: nowrap;
          margin: 0rem 5.54rem 5.35rem 0rem;
          font-weight: 700;
          font-family: Phetsarath, 'Source Sans Pro';
        }
        .focuses-on-being-present-in-the-moment-and-observing-thoughts-and-sensations-without-judgment-UR5 {
          max-width: 40.8rem;
          display: flex;
          letter-spacing: 0.44rem;
          text-transform: capitalize;
          color: #ffffff;
          font-family: PT Serif, 'Source Sans Pro';
          margin-left: 0.0603rem;
          align-items: center;
          justify-content: center;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.3052273664;
          flex-shrink: 0;
        }
      }
    }
    .group-82-q99 {
      width: 47.8397rem;
      height: 100%;
      position: relative;
      border-radius: 5rem;
      flex-shrink: 0;

      .iphone-11-pro-max-1-z23 {
        top: 0;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: inset -0.5rem -0.5rem 25rem rgba(255, 255, 255, 0.0199999996));
        background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.400000006) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 5rem;
        width: 47.8397rem;
        position: absolute;
        left: 0;
        backdrop-filter: blur(2.1rem);
        height: 66.1047rem;

        .e10127f80270bd49c236fout-0-1-Ka7 {
          object-fit: cover;
          vertical-align: top;
          width: 76.8rem;
          height: 51.2rem;
        }
      }
      .transcendental-meditation-wrP {
        width: 36.5rem;
        height: 3.3rem;
        position: absolute;
        font-size: 2.5rem;
        line-height: 1.305227356;
        letter-spacing: 0.075rem;
        text-transform: uppercase;
        font-family: Phetsarath, 'Source Sans Pro';
        left: 3rem;
        top: 38rem;
        font-weight: 700;
        color: #ffffff;
        white-space: nowrap;
      }
      .involves-the-use-of-a-mantra-to-achieve-a-state-of-relaxed-awareness-2sq {
        width: 42.1rem;
        font-family: PT Serif, 'Source Sans Pro';
        position: absolute;
        font-size: 2.2rem;
        line-height: 1.3052273664;
        letter-spacing: 0.44rem;
        left: 2.9rem;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        height: 8.7rem;
        top: 48.05rem;
        justify-content: center;
        font-weight: 400;
        color: #ffffff;
      }
    }
    .group-83-H35 {
      width: 47.8397rem;
      height: 100%;
      border-radius: 5rem;
      flex-shrink: 0;

      .iphone-11-pro-max-1-dMq {
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: inset -0.5rem -0.5rem 25rem rgba(255, 255, 255, 0.0199999996));
        box-sizing: border-box;
        padding-bottom: 7.9547rem;
        height: 100%;
        align-items: flex-end;
        backdrop-filter: blur(2.1rem);
        background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.400000006) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 5rem;

        .how-to-practice-loving-kindness-meditation-740-1-YUo {
          height: 35.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 3.2rem;
          width: 70.5rem;
        }
        .loving-kindness-meditation-6ud {
          font-weight: 700;
          line-height: 1.305227356;
          font-family: Phetsarath, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 8.44rem 5.35rem 0rem;
          font-size: 2.5rem;
          color: #ffffff;
          flex-shrink: 0;
          letter-spacing: 0.075rem;
          text-transform: uppercase;
        }
        .focuses-on-cultivating-feelings-of-love-compassion-and-goodwill-towards-oneself-and-others-b5h {
          line-height: 1.3052273664;
          letter-spacing: 0.44rem;
          text-transform: capitalize;
          display: flex;
          font-weight: 400;
          align-items: center;
          justify-content: center;
          font-size: 2.2rem;
          color: #ffffff;
          font-family: PT Serif, 'Source Sans Pro';
          flex-shrink: 0;
          width: 100%;
          max-width: 41.5rem;
        }
      }
    }
  }
  .auto-group-bvf9-AY7 {
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 48.9rem 0rem 50.5rem;
    width: calc(100% - 99.4rem);
    display: flex;
    column-gap: 4.9rem;

    .privacy-policy-sSX {
      color: #ffffff;
      font-family: Maven Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      text-align: center;
    }
    .terms-and-conditions-abq {
      font-weight: 700;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      color: #ffffff;
      font-family: Maven Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
    }
    .about-us-WEb {
      color: #ffffff;
      font-family: Maven Pro, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
    }
  }
}
