
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.mindful-exercise-8eb {
  position: relative;
  width: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: radial-gradient(99.27% 99.27% at 50.84% 100%, #3d3d3d 0%, #2f2f2f 0%, #1f1f1f 70.26%, #181818 100%);
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 1.5rem 3.2rem 2.8rem 1.8rem;

  .auto-group-5e6b-SfH {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 3.3rem;
    width: 100%;
    height: 12.6rem;

    .logo-no-background-1-5CT {
      height: 12.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 21.65rem;
      width: 12.5rem;
    }
    .home-o8T {
      letter-spacing: 0.06rem;
      color: #ffffff;
      white-space: nowrap;
      text-align: center;
      font-weight: 400;
      line-height: 1.305227375;
      font-family: Merge One, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 3.65rem 3.7rem 0rem;
      font-size: 2rem;
    }
    .meditation-guide-6dM {
      font-family: Merge One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-weight: 400;
      color: #ffffff;
      letter-spacing: 0.06rem;
      margin: 0rem 8.5rem 3.7rem 0rem;
      font-size: 2rem;
      line-height: 1.305227375;
    }
    .mindful-exercise-DCB {
      font-weight: 400;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      color: #ffffff;
      font-family: Merge One, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 8.45rem 3.7rem 0rem;
      font-size: 2rem;
      flex-shrink: 0;
      text-align: center;
    }
    .relaxation-technique-L1u {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.305227375;
      color: #ffffff;
      font-family: Merge One, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 15.75rem 3.5rem 0rem;
      letter-spacing: 0.06rem;
      white-space: nowrap;
      text-align: center;
    }
    .log-in-qzF {
      margin: 0rem 3.3rem 3.7rem 0rem;
      font-size: 2rem;
      line-height: 1.305227375;
      font-weight: 400;
      letter-spacing: 0.06rem;
      color: #fcfbfb;
      font-family: Merge One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-p9p3-xJB {
      width: 12.2rem;
      font-size: 2rem;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      justify-content: center;
      background-color: #908383;
      border-radius: 4.5rem;
      font-family: Merge One, 'Source Sans Pro';
      margin: 2.6rem 0rem 6.3rem 0rem;
      height: calc(100% - 8.9rem);
      font-weight: 400;
      color: #0e0e0e;
      display: flex;
      flex-shrink: 0;
      white-space: nowrap;
      align-items: center;
    }
  }
  .group-85-c7q {
    height: 66.1047rem;
    display: flex;
    column-gap: 4.1603rem;
    align-items: center;
    border-radius: 5rem;
    flex-shrink: 0;
    margin: 0rem 0.86rem 6.995rem 2.3rem;
    width: calc(100% - 3.1603rem);

    .group-79-K2F {
      height: 100%;
      border-radius: 5rem;
      flex-shrink: 0;
      width: 47.8397rem;

      .iphone-11-pro-max-1-Tu9 {
        width: 100%;
        overflow: hidden;
        position: relative;
        flex-direction: column;
        box-shadow: inset -0.5rem -0.5rem 25rem rgba(255, 255, 255, 0.0199999996));
        background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.400000006) 0%, rgba(255, 255, 255, 0) 100%);
        box-sizing: border-box;
        padding-bottom: 6.5047rem;
        height: 100%;
        align-items: center;
        display: flex;
        backdrop-filter: blur(2.1rem);
        border-radius: 5rem;

        .woman-doing-yoga-to-relax-1-bVZ {
          margin-bottom: 2.7rem;
          width: 53rem;
          height: 35.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .breathing-exercises-WsR {
          line-height: 1.305227356;
          font-family: Phetsarath, 'Source Sans Pro';
          flex-shrink: 0;
          text-transform: uppercase;
          color: #ffffff;
          white-space: nowrap;
          margin: 0rem 3.54rem 3.9rem 0rem;
          font-size: 2.5rem;
          font-weight: 700;
          letter-spacing: 0.075rem;
        }
        .these-focus-on-bringing-attention-to-the-breath-such-as-deep-breathing-box-breathing-or-counting-breaths-pdD {
          text-transform: capitalize;
          color: #ffffff;
          justify-content: center;
          line-height: 1.3052273664;
          letter-spacing: 0.44rem;
          align-items: center;
          font-size: 2.2rem;
          font-weight: 400;
          font-family: PT Serif, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.0603rem;
          max-width: 41.1rem;
          display: flex;
        }
      }
    }
    .group-82-nTZ {
      width: 47.8397rem;
      height: 100%;
      position: relative;
      border-radius: 5rem;
      flex-shrink: 0;

      .iphone-11-pro-max-1-LV5 {
        left: 0;
        box-sizing: border-box;
        box-shadow: inset -0.5rem -0.5rem 25rem rgba(255, 255, 255, 0.0199999996));
        backdrop-filter: blur(2.1rem);
        background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.400000006) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 5rem;
        width: 47.8397rem;
        height: 66.1047rem;
        overflow: hidden;
        position: absolute;
        top: 0;

        .meditation-1-H9R {
          width: 53.5rem;
          height: 35.7rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .body-scan-XpT {
        top: 38rem;
        font-size: 2.5rem;
        letter-spacing: 0.075rem;
        text-transform: uppercase;
        width: 13.3rem;
        height: 3.3rem;
        position: absolute;
        left: 16.2rem;
        font-weight: 700;
        line-height: 1.305227356;
        color: #ffffff;
        font-family: Phetsarath, 'Source Sans Pro';
        white-space: nowrap;
      }
      .this-involves-systematically-scanning-the-body-from-head-to-toe-bringing-awareness-to-each-part-and-any-sensations-present-cqu {
        justify-content: center;
        width: 42rem;
        height: 14.4rem;
        left: 2.95rem;
        display: flex;
        position: absolute;
        align-items: center;
        font-size: 2.2rem;
        top: 45.2rem;
        line-height: 1.3052273664;
        text-transform: capitalize;
        color: #ffffff;
        font-weight: 400;
        letter-spacing: 0.44rem;
        font-family: PT Serif, 'Source Sans Pro';
      }
    }
    .group-83-Fdy {
      width: 47.8397rem;
      height: 100%;
      border-radius: 5rem;
      flex-shrink: 0;

      .iphone-11-pro-max-1-Qmm {
        position: relative;
        flex-direction: column;
        box-shadow: inset -0.5rem -0.5rem 25rem rgba(255, 255, 255, 0.0199999996));
        background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.400000006) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 5rem;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        display: flex;
        backdrop-filter: blur(2.1rem);
        padding-bottom: 7.9547rem;
        overflow: hidden;
        align-items: center;

        .c57389fea4e2289045438dd8660b44e4cbc8mv2-1-8hm {
          margin-bottom: 3rem;
          width: 69.1rem;
          height: 53.2rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .mindful-walking-eAK {
          font-family: Phetsarath, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.5rem;
          font-weight: 700;
          letter-spacing: 0.075rem;
          text-transform: uppercase;
          color: #ffffff;
          margin: 0rem 4.34rem 5.35rem 0rem;
          line-height: 1.305227356;
        }
        .walking-slowly-and-attentively-paying-attention-to-each-step-and-the-sensations-of-movement-YFh {
          justify-content: center;
          font-weight: 400;
          letter-spacing: 0.44rem;
          text-transform: capitalize;
          color: #ffffff;
          font-family: PT Serif, 'Source Sans Pro';
          display: flex;
          align-items: center;
          font-size: 2.2rem;
          line-height: 1.3052273664;
          flex-shrink: 0;
          margin-left: 0.0603rem;
          max-width: 42.3rem;
        }
      }
    }
  }
  .auto-group-gfxv-6gX {
    margin: 0rem 48.9rem 0rem 50.5rem;
    width: calc(100% - 99.4rem);
    display: flex;
    column-gap: 4.9rem;
    align-items: center;
    flex-shrink: 0;

    .privacy-policy-p6j {
      color: #ffffff;
      white-space: nowrap;
      font-weight: 700;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      font-family: Maven Pro, 'Source Sans Pro';
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
    }
    .terms-and-conditions-jUb {
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      color: #ffffff;
      font-family: Maven Pro, 'Source Sans Pro';
      white-space: nowrap;
    }
    .about-us-s51 {
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      color: #ffffff;
      font-family: Maven Pro, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
