
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.privacy-policy-Qa3 {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 1.5rem 3.2rem 0rem 1.8rem;
  width: 100%;
  background: radial-gradient(99.27% 99.27% at 50.84% 100%, #3d3d3d 0%, #2f2f2f 0%, #1f1f1f 70.26%, #181818 100%);
  background-color: #110000;

  .logo-no-background-1-uFu {
    margin-right: 13.05rem;
    width: 12.5rem;
    height: 12.6rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-jgjh-dSo {
    margin: 2.6rem 3.05rem 0rem 0rem;
    width: 105.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-w9h1-xEB {
      box-sizing: border-box;
      padding: 0rem 13.3rem 6.5rem 8rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-j9hh-gfy {
        margin-bottom: 7.7rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .home-dbD {
          line-height: 1.305227375;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          letter-spacing: 0.06rem;
          color: #ffffff;
          font-family: Merge One, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.65rem;
        }
        .meditation-guide-XwV {
          color: #ffffff;
          font-family: Merge One, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.305227375;
          margin-right: 8.5rem;
          text-align: center;
          letter-spacing: 0.06rem;
        }
        .mindful-exercise-TaF {
          line-height: 1.305227375;
          letter-spacing: 0.06rem;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 400;
          text-align: center;
          font-size: 2rem;
          font-family: Merge One, 'Source Sans Pro';
          margin-right: 8.45rem;
        }
        .relaxation-technique-a95 {
          color: #ffffff;
          font-family: Merge One, 'Source Sans Pro';
          white-space: nowrap;
          margin-top: 0.1rem;
          text-align: center;
          font-size: 2rem;
          letter-spacing: 0.06rem;
          font-weight: 400;
          line-height: 1.305227375;
          flex-shrink: 0;
        }
      }
      .privacy-policy-HJP {
        margin-right: 3rem;
        font-size: 6.4rem;
        line-height: 1.3052273989;
        color: #ffffff;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.192rem;
        font-family: Phetsarath, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-qeet-zTh {
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: 94rem;

      .entypo-social-facebook-with-circle-8po {
        width: 4.4rem;
        height: 4.4rem;
        position: absolute;
        left: 62.25rem;
        top: 7.8rem;
        overflow: hidden;
      }
      .privacy-policy-your-privacy-is-important-to-us-it-is-medilaxs-policy-to-respect-your-privacy-regarding-any-information-we-may-collect-from-you-across-our-website-wwwmedilaxcom-we-only-ask-for-personal-information-when-we-truly-need-it-to-provide-a-service-to-you-we-collect-it-by-fair-and-lawful-means-with-your-knowledge-and-consent-we-also-let-you-know-why-were-collecting-it-and-how-it-will-be-used-we-only-retain-collected-information-for-as-long-as-necessary-to-provide-you-with-your-requested-service-what-data-we-store-well-protect-within-commercially-acceptable-means-to-prevent-loss-and-theft-as-well-as-unauthorized-access-disclosure-copying-use-or-modification-we-dont-share-any-personally-identifying-information-publicly-or-with-third-parties-except-when-required-to-by-law-our-website-may-link-to-external-sites-that-are-not-operated-by-us-please-be-aware-that-we-have-no-control-over-the-content-and-practices-of-these-sites-and-cannot-accept-responsibility-or-liability-for-their-respective-privacy-policies-you-are-free-to-refuse-our-request-for-your-personal-information-with-the-understanding-that-we-may-be-unable-to-provide-you-with-some-of-your-desired-services-your-continued-use-of-our-website-will-be-regarded-as-acceptance-of-our-practices-around-privacy-and-personal-information-if-you-have-any-questions-about-how-we-handle-user-data-and-personal-information-feel-free-to-contact-us-this-policy-is-effective-as-of-1-march-2024-RBd {
        left: 0;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.3052273856;
        width: 105.5rem;
        position: absolute;
        top: 0;
        letter-spacing: 0.054rem;
        color: #ffffff;
        font-family: Phetsarath, 'Source Sans Pro';
        height: 94rem;
      }
      .privacy-policy-D2w {
        white-space: nowrap;
        width: 14.6rem;
        height: 2.7rem;
        position: absolute;
        left: 24.95rem;
        top: 73.1rem;
        font-weight: 700;
        line-height: 1.305227375;
        text-align: center;
        font-size: 2rem;
        letter-spacing: 0.06rem;
        color: #ffffff;
        font-family: Maven Pro, 'Source Sans Pro';
      }
      .terms-and-conditions-VFM {
        position: absolute;
        left: 44.25rem;
        font-size: 2rem;
        font-weight: 700;
        color: #ffffff;
        font-family: Maven Pro, 'Source Sans Pro';
        height: 2.7rem;
        top: 72.9632rem;
        line-height: 1.305227375;
        letter-spacing: 0.06rem;
        white-space: nowrap;
        width: 22.2rem;
      }
      .about-us-o19 {
        letter-spacing: 0.06rem;
        color: #ffffff;
        width: 9rem;
        position: absolute;
        left: 71.55rem;
        top: 73.1rem;
        font-size: 2rem;
        line-height: 1.305227375;
        font-family: Maven Pro, 'Source Sans Pro';
        height: 2.7rem;
        font-weight: 700;
        white-space: nowrap;
      }
    }
  }
  .log-in-u4B {
    font-weight: 400;
    line-height: 1.305227375;
    color: #fcfbfb;
    white-space: nowrap;
    margin: 3.1rem 3.3rem 0rem 0rem;
    font-size: 2rem;
    flex-shrink: 0;
    letter-spacing: 0.06rem;
    font-family: Merge One, 'Source Sans Pro';
  }
  .auto-group-ywsm-Qmd {
    color: #0e0e0e;
    font-family: Merge One, 'Source Sans Pro';
    background-color: #908383;
    flex-shrink: 0;
    width: 12.2rem;
    height: 3.7rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
    justify-content: center;
    font-size: 2rem;
    white-space: nowrap;
    border-radius: 4.5rem;
    align-items: center;
    margin-top: 2.6rem;
    line-height: 1.305227375;
    display: flex;
  }
}
