
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.relaxation-technique-3fM {
  padding: 1.5rem 3.2rem 2.9rem 1.8rem;
  overflow: hidden;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background: radial-gradient(99.27% 99.27% at 50.84% 100%, #3d3d3d 0%, #2f2f2f 0%, #1f1f1f 70.26%, #181818 100%);

  .auto-group-malw-k3y {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 0.8rem;
    width: 100%;
    height: 12.6rem;

    .logo-no-background-1-G2K {
      flex-shrink: 0;
      margin-right: 24.55rem;
      width: 12.5rem;
      height: 12.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .home-zDD {
      text-align: center;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      font-family: Merge One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 3.65rem 4.7rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      color: #ffffff;
    }
    .meditation-guide-sH1 {
      text-align: center;
      color: #ffffff;
      font-family: Merge One, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.5rem 4.7rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
    }
    .mindful-exercise-NzT {
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.305227375;
      font-family: Merge One, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 8.45rem 4.7rem 0rem;
      letter-spacing: 0.06rem;
      color: #ffffff;
      flex-shrink: 0;
    }
    .relaxation-technique-txo {
      margin: 0rem 12.85rem 4.5rem 0rem;
      font-size: 2rem;
      line-height: 1.305227375;
      white-space: nowrap;
      text-align: center;
      font-weight: 400;
      letter-spacing: 0.06rem;
      color: #ffffff;
      font-family: Merge One, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .log-in-ops {
      font-weight: 400;
      letter-spacing: 0.06rem;
      color: #fcfbfb;
      font-family: Merge One, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 3.3rem 3.7rem 0rem;
      font-size: 2rem;
      line-height: 1.305227375;
      white-space: nowrap;
    }
    .auto-group-tg95-KYK {
      width: 12.2rem;
      height: calc(100% - 8.9rem);
      font-size: 2rem;
      color: #0e0e0e;
      flex-shrink: 0;
      font-weight: 400;
      font-family: Merge One, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 4.5rem;
      line-height: 1.305227375;
      align-items: center;
      margin: 2.6rem 0rem 6.3rem 0rem;
      letter-spacing: 0.06rem;
      display: flex;
      justify-content: center;
      background-color: #908383;
    }
  }
  .auto-group-jz9m-aj9 {
    display: flex;
    column-gap: 4.1603rem;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 0.86rem 9.395rem 2.3rem;
    width: calc(100% - 3.1603rem);
    height: 66.1047rem;

    .group-79-sy9 {
      width: 47.8397rem;
      height: 100%;
      border-radius: 5rem;
      flex-shrink: 0;

      .iphone-11-pro-max-1-36w {
        box-shadow: inset -0.5rem -0.5rem 25rem rgba(255, 255, 255, 0.0199999996));
        padding-bottom: 4.9547rem;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;
        box-sizing: border-box;
        backdrop-filter: blur(2.1rem);
        background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.400000006) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 5rem;
        flex-direction: column;

        .cdf1ac7b69a83e5d7bsecw9yxzmqqewksphobr99oapwzr4wllw9xnq8kprsusmrxra-out-0-1-m2w {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 3.2rem;
          width: 48.1rem;
          height: 36.1rem;
        }
        .progressive-muscle-relaxation-RtB {
          margin: 0rem 0.04rem 5.55rem 0rem;
          text-align: center;
          font-size: 2.4rem;
          letter-spacing: 0.072rem;
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 700;
          line-height: 1.3052274386;
          text-transform: uppercase;
          color: #ffffff;
          font-family: Phetsarath, 'Source Sans Pro';
        }
        .involves-tensing-and-then-relaxing-different-muscle-groups-in-the-body-usually-starting-from-the-toes-and-working-up-to-the-head-v4F {
          margin-left: 0.0603rem;
          max-width: 39.5rem;
          align-items: center;
          letter-spacing: 0.44rem;
          color: #ffffff;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.3052273664;
          text-transform: capitalize;
          font-family: PT Serif, 'Source Sans Pro';
        }
      }
    }
    .group-82-3o5 {
      flex-shrink: 0;
      width: 47.8397rem;
      height: 100%;
      position: relative;
      border-radius: 5rem;

      .iphone-11-pro-max-1-bpb {
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: inset -0.5rem -0.5rem 25rem rgba(255, 255, 255, 0.0199999996));
        backdrop-filter: blur(2.1rem);
        left: 0;
        top: 0;
        position: absolute;
        background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.400000006) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 5rem;
        width: 47.8397rem;
        height: 66.1047rem;

        .breath-awareness-in-yoga-banner-1-LXH {
          height: 34.8rem;
          object-fit: cover;
          vertical-align: top;
          width: 61.9rem;
        }
      }
      .deep-breathing-exercises-BXu {
        position: absolute;
        top: 37.9rem;
        font-size: 2.5rem;
        line-height: 1.305227356;
        color: #ffffff;
        font-family: Phetsarath, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.3rem;
        left: 4.4rem;
        font-weight: 700;
        letter-spacing: 0.075rem;
        text-transform: uppercase;
        width: 33.4rem;
      }
      .focuses-on-slow-deep-breathing-to-help-calm-the-mind-and-body-techniques-include-diaphragmatic-breathing-and-4-7-8-breathing-UX1 {
        height: 17.3rem;
        display: flex;
        letter-spacing: 0.44rem;
        top: 45.35rem;
        align-items: center;
        justify-content: center;
        font-size: 2.2rem;
        font-family: PT Serif, 'Source Sans Pro';
        left: 3.85rem;
        font-weight: 400;
        line-height: 1.3052273664;
        text-transform: capitalize;
        width: 40.2rem;
        position: absolute;
        color: #ffffff;
      }
    }
    .group-83-JW3 {
      border-radius: 5rem;
      flex-shrink: 0;
      width: 47.8397rem;
      height: 100%;

      .iphone-11-pro-max-1-GSs {
        position: relative;
        align-items: center;
        box-shadow: inset -0.5rem -0.5rem 25rem rgba(255, 255, 255, 0.0199999996));
        backdrop-filter: blur(2.1rem);
        background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.400000006) 0%, rgba(255, 255, 255, 0) 100%);
        border-radius: 5rem;
        box-sizing: border-box;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding-bottom: 4.9547rem;
        width: 100%;

        .neha-1-CLX {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 3.2rem;
          width: 68.1rem;
          height: 38.2rem;
          object-fit: cover;
        }
        .visualization-Kvw {
          font-family: Phetsarath, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          letter-spacing: 0.075rem;
          text-transform: uppercase;
          color: #ffffff;
          line-height: 1.305227356;
          margin: 0rem 2.94rem 5.45rem 0rem;
          font-size: 2.5rem;
          font-weight: 700;
        }
        .involves-imagining-a-peaceful-scene-or-setting-such-as-a-beach-or-forest-and-focusing-on-the-details-to-promote-relaxation-2qM {
          line-height: 1.3052273664;
          letter-spacing: 0.44rem;
          text-transform: capitalize;
          color: #ffffff;
          font-family: PT Serif, 'Source Sans Pro';
          margin-left: 0.0603rem;
          max-width: 42.3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2.2rem;
          font-weight: 400;
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-bcwj-zfh {
    display: flex;
    column-gap: 4.9rem;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 48.9rem 0rem 50.5rem;
    width: calc(100% - 99.4rem);

    .privacy-policy-JRV {
      letter-spacing: 0.06rem;
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.305227375;
      color: #ffffff;
      font-family: Maven Pro, 'Source Sans Pro';
    }
    .terms-and-conditions-DHZ {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      color: #ffffff;
      font-family: Maven Pro, 'Source Sans Pro';
    }
    .about-us-9h1 {
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      color: #ffffff;
      font-family: Maven Pro, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
