
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.terms-and-condition-7Ww {
  background-color: #110000;
  padding: 1.5rem 3.2rem 0rem 1.8rem;
  width: 100%;
  position: relative;
  flex-direction: column;
  background: radial-gradient(99.27% 99.27% at 50.84% 100%, #3d3d3d 0%, #2f2f2f 0%, #1f1f1f 70.26%, #181818 100%);
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  display: flex;

  .auto-group-myhy-287 {
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 12.6rem;
    display: flex;

    .logo-no-background-1-9iX {
      margin-right: 23.65rem;
      width: 12.5rem;
      height: 12.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .home-5cB {
      flex-shrink: 0;
      margin: 0rem 3.65rem 4.7rem 0rem;
      font-size: 2rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Merge One, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
    }
    .meditation-guide-aYw {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.5rem 4.7rem 0rem;
      line-height: 1.305227375;
      font-weight: 400;
      letter-spacing: 0.06rem;
      color: #ffffff;
      font-family: Merge One, 'Source Sans Pro';
      text-align: center;
      font-size: 2rem;
    }
    .mindful-exercise-h7m {
      line-height: 1.305227375;
      color: #ffffff;
      font-family: Merge One, 'Source Sans Pro';
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
      letter-spacing: 0.06rem;
      white-space: nowrap;
      margin: 0rem 8.45rem 4.7rem 0rem;
      font-weight: 400;
    }
    .relaxation-technique-cVd {
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      color: #ffffff;
      font-family: Merge One, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 13.75rem 4.5rem 0rem;
      white-space: nowrap;
    }
    .log-in-XsV {
      font-family: Merge One, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 3.3rem 3.7rem 0rem;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      white-space: nowrap;
      font-size: 2rem;
      font-weight: 400;
      color: #fcfbfb;
    }
    .auto-group-3uej-F2o {
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 8.9rem);
      color: #0e0e0e;
      font-family: Merge One, 'Source Sans Pro';
      background-color: #908383;
      border-radius: 4.5rem;
      margin: 2.6rem 0rem 6.3rem 0rem;
      width: 12.2rem;
      font-size: 2rem;
      white-space: nowrap;
    }
  }
  .terms-and-conditions-WUX {
    margin: 0rem 0rem 5.5rem 1.5rem;
    text-align: center;
    font-size: 6.4rem;
    line-height: 1.3052273989;
    white-space: nowrap;
    font-weight: 700;
    letter-spacing: 0.192rem;
    color: #ffffff;
    font-family: Phetsarath, 'Source Sans Pro';
    flex-shrink: 0;
  }
  .auto-group-3n9d-cGf {
    margin: 0rem 19.95rem 0rem 25.55rem;
    width: calc(100% - 45.5rem);
    height: 235rem;
    position: relative;
    flex-shrink: 0;

    .entypo-social-facebook-with-circle-j6P {
      width: 4.4rem;
      height: 4.4rem;
      position: absolute;
      left: 62.25rem;
      top: 7.8rem;
      overflow: hidden;
    }
    .terms-and-conditions-these-terms-and-conditions-outline-the-rules-and-regulations-for-the-use-of-medilaxs-website-located-at-wwwmedilaxcom-by-accessing-this-website-we-assume-you-accept-these-terms-and-conditions-do-not-continue-to-use-medilax-if-you-do-not-agree-to-take-all-of-the-terms-and-conditions-stated-on-this-page-the-following-terminology-applies-to-these-terms-and-conditions-privacy-statement-and-disclaimer-notice-and-all-agreements-client-you-and-your-refers-to-you-the-person-log-on-this-website-and-compliant-to-the-companys-terms-and-conditions-the-company-ourselves-we-our-and-us-refers-to-our-company-party-parties-or-us-refers-to-both-the-client-and-ourselves-all-terms-refer-to-the-offer-acceptance-and-consideration-of-payment-necessary-to-undertake-the-process-of-our-assistance-to-the-client-in-the-most-appropriate-manner-for-the-express-purpose-of-meeting-the-clients-needs-in-respect-of-provision-of-the-companys-stated-services-in-accordance-with-and-subject-to-prevailing-law-of-netherlands-any-use-of-the-above-terminology-or-other-words-in-the-singular-plural-capitalization-and-or-he-she-or-they-are-taken-as-interchangeable-and-therefore-as-referring-to-same-cookies-we-employ-the-use-of-cookies-by-accessing-medilax-you-agreed-to-use-cookies-in-agreement-with-the-medilaxs-privacy-policy-most-interactive-websites-use-cookies-to-let-us-retrieve-the-users-details-for-each-visit-cookies-are-used-by-our-website-to-enable-the-functionality-of-certain-areas-to-make-it-easier-for-people-visiting-our-website-some-of-our-affiliate-advertising-partners-may-also-use-cookies-license-unless-otherwise-stated-medilax-and-or-its-licensors-own-the-intellectual-property-rights-for-all-material-on-medilax-all-intellectual-property-rights-are-reserved-you-may-access-this-from-medilax-for-your-own-personal-use-subjected-to-restrictions-set-in-these-terms-and-conditions-you-must-not-republish-material-from-medilax-sell-rent-or-sub-license-material-from-medilax-reproduce-duplicate-or-copy-material-from-medilax-redistribute-content-from-medilax-this-agreement-shall-begin-on-the-date-hereof-parts-of-this-website-offer-an-opportunity-for-users-to-post-and-exchange-opinions-and-information-in-certain-areas-of-the-website-medilax-does-not-filter-edit-publish-or-review-comments-prior-to-their-presence-on-the-website-comments-do-not-reflect-the-views-and-opinions-of-medilaxits-agents-and-or-affiliates-comments-reflect-the-views-and-opinions-of-the-person-who-post-their-views-and-opinions-to-the-extent-permitted-by-applicable-laws-medilax-shall-not-be-liable-for-the-comments-or-for-any-liability-damages-or-expenses-caused-and-or-suffered-as-a-result-of-any-use-of-and-or-posting-of-and-or-appearance-of-the-comments-on-this-website-medilax-reserves-the-right-to-monitor-all-comments-and-to-remove-any-comments-which-can-be-considered-inappropriate-offensive-or-causes-breach-of-these-terms-and-conditions-you-warrant-and-represent-that-you-are-entitled-to-post-the-comments-on-our-website-and-have-all-necessary-licenses-and-consents-to-do-so-the-comments-do-not-invade-any-intellectual-property-right-including-without-limitation-copyright-patent-or-trademark-of-any-third-party-the-comments-do-not-contain-any-defamatory-libelous-offensive-indecent-or-otherwise-unlawful-material-which-is-an-invasion-of-privacy-the-comments-will-not-be-used-to-solicit-or-promote-business-or-custom-or-present-commercial-activities-or-unlawful-activity-you-hereby-grant-medilax-a-non-exclusive-license-to-use-reproduce-edit-and-authorize-others-to-use-reproduce-and-edit-any-of-your-comments-in-any-and-all-forms-formats-or-media-hyperlinking-to-our-content-the-following-organizations-may-link-to-our-website-without-prior-written-approval--T2P {
      font-family: Phetsarath, 'Source Sans Pro';
      width: 109.5rem;
      height: 235rem;
      left: 0;
      text-align: center;
      line-height: 1.3052273856;
      color: #ffffff;
      position: absolute;
      top: 0;
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: 0.054rem;
    }
    .privacy-policy-t71 {
      font-size: 2rem;
      white-space: nowrap;
      width: 14.6rem;
      position: absolute;
      left: 24.85rem;
      text-align: center;
      letter-spacing: 0.06rem;
      color: #ffffff;
      font-family: Maven Pro, 'Source Sans Pro';
      height: 2.7rem;
      top: 158.6rem;
      font-weight: 700;
      line-height: 1.305227375;
    }
    .terms-and-conditions-P3m {
      width: 22.2rem;
      height: 2.7rem;
      position: absolute;
      font-weight: 700;
      line-height: 1.305227375;
      letter-spacing: 0.06rem;
      white-space: nowrap;
      left: 44.15rem;
      top: 158.4632rem;
      font-size: 2rem;
      color: #ffffff;
      font-family: Maven Pro, 'Source Sans Pro';
    }
    .about-us-hKM {
      white-space: nowrap;
      width: 9rem;
      position: absolute;
      left: 71.45rem;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.06rem;
      height: 2.7rem;
      top: 158.6rem;
      line-height: 1.305227375;
      color: #ffffff;
      font-family: Maven Pro, 'Source Sans Pro';
    }
  }
}
